
<div class="main_container" >
    <div class="containers" *ngFor="let i of product">
        <img src="i.img" alt="">
        <div class="inner">
          <div id="text"><h3>{{i.name}}</h3></div>
          <div id="text2">
            <h5>{{i.available}}</h5>
            <h5>Price:${{i.price}}</h5>
            <h5>Color:{{i.color}}</h5>
          </div>
        </div>
        <div id="btn">
            <button>Show Details</button>
            <button> Buy Now</button>
        </div>
    </div>
</div>
    <!-- <div class="containers">
        <img src="https://images.hindustantimes.com/tech/img/2023/01/21/960x540/3_1646105722201_1674280610588_1674280610588.jpg" alt="">
        <div class="inner">
          <div id="text"><h3>Apple Iphone 12</h3></div>
          <div id="text2">
            <h5>Not Available</h5>
            <h5>Price:$108</h5>
            <h5>Color:Blue</h5>
          </div>
        </div>
        <div id="btn">
            <button>Show Details</button>
            <button> Buy Now</button>
        </div>
    </div>
    <div class="containers">
        <img src="https://images.hindustantimes.com/tech/img/2023/01/21/960x540/3_1646105722201_1674280610588_1674280610588.jpg" alt="">
        <div class="inner">
          <div id="text"><h3>Apple Iphone 12</h3></div>
          <div id="text2">
            <h5>Available</h5>
            <h5>Price:$108</h5>
            <h5>Color:Blue</h5>
          </div>
        </div>
        <div id="btn">
            <button>Show Details</button>
            <button> Buy Now</button>
        </div>
    </div>
    <div class="containers">
        <img src="https://images.hindustantimes.com/tech/img/2023/01/21/960x540/3_1646105722201_1674280610588_1674280610588.jpg" alt="">
        <div class="inner">
          <div id="text"><h3>Apple Iphone 12</h3></div>
          <div id="text2">
            <h5>Not Available</h5>
            <h5>Price:$108</h5>
            <h5>Color:Blue</h5>
          </div>
        </div>
        <div id="btn">
            <button>Show Details</button>
            <button> Buy Now</button>
        </div>
    </div>
    
</div> -->
